@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bem Vindo(a)!</h1>
    <p>Projeto prático de MVC aceleração WCC sexta edição</a>.</p>
    <p><strong>Instrutora:</strong> Flávia Gomes.</p>
    <p><strong>Aluna:</strong> Marise Amorim.</p>
    <p><strong>Data de Criação:</strong> 11/2021</p>
</div>
